body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/img/image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
/*Top nav bar start*/
.navigation{
background-color: rgb(35, 133, 133);
height: 100px;
}
.navigation nav{
    width: 100%;
    height: 12vh;
}
.navigation nav img{
    position: relative;
    height: 100px;
    width: 150px;
}
.navigation nav ul{
    margin-top: 30px;
    float: right;
    list-style: none;
}
.navigation nav ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 40px;
}
.navigation nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 10;
}
.navigation nav{
    margin-left: 5px;
}
.bacground-image img{
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*Top nav bar end*/
.Brand-name{
    color: saddlebrown;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

/*footer nav bar start*/
.footer{
background-color: rgb(91, 133, 35);
height: 150px;
margin-bottom: 0%;
}
.footer nav{
    width: 100%;
    height: 12vh;
}
.footer nav img{
    position: relative;
    height: 100px;
    width: 150px;
}
.footer nav ul{
    margin-right: 25%;
    float: right;
    list-style: none;
}
.footer nav ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 40px;
}
.footer nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 10;
}
.footer nav{
    margin-left: 5px;
}
.footer h4{
    color: white;
    list-style: none;
    text-decoration: none;
}
footer{
    margin-bottom: 0px;
}
/*footer nav bar end*/